[Unit]
Description= nginx
After=network.target
 
[Service]
ExecStart=/opt/kubernetes/nginx/sbin/nginx
Restart=on-failure
RestartSec=5
LimitNOFILE=65536
 
[Install]
WantedBy=multi-user.target
